# Mission to Mars Web Scraping

by Mary Brown

In [60]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

### NASA Mars News

In [20]:
page = requests.get("https://mars.nasa.gov/news/")

In [21]:
soup = BeautifulSoup(page.content, 'html.parser')

In [22]:
news_title=soup.find_all('div',class_='content_title')[0].text
news_title = news_title.replace('\n','')
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [23]:
news_p=soup.find_all('div',class_='rollover_description_inner')[0].text
news_p = news_p.replace('\n','')
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

### JPL Mars Space Images - Featured Image

In [24]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [25]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [26]:
urlDomain = 'https://www.jpl.nasa.gov'
urlPath = '/spaceimages/?search=&category=Mars'
urlFull = urlDomain + urlPath
browser.visit(urlFull)

In [27]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
browser.click_link_by_partial_text('FULL IMAGE')
fullImage=soup.find_all(id="full_image")
fullImage

[<a class="button fancybox" data-description="This image of NASAs Hubble Space Telescope shows Astronaut Jeffrey Hoffman removing the Wide Field and Planetary Camera 1 (WFPC 1) during the first Hubble servicing mission (SM1), which took place in December, 1993." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA22574_ip.jpg" data-link="/spaceimages/details.php?id=PIA22574" data-title="Making Room for Hubble's New Camera" id="full_image">
 					FULL IMAGE
 				  </a>]

In [33]:
imagePath=fullImage[0]['data-fancybox-href']

In [34]:
featured_image_url= urlDomain + imagePath

In [35]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA22574_ip.jpg'

### Mars Weather

In [36]:
tpage = requests.get("https://twitter.com/marswxreport?lang=en")
tsoup = BeautifulSoup(tpage.content, 'html.parser')

In [39]:
latestTweet=tsoup.find_all('p',class_='TweetTextSize')
latestTweet[0].text

'InSight sol 331 (2019-11-01) low -100.9ºC (-149.6ºF) high -24.6ºC (-12.3ºF)\nwinds from the SSE at 5.2 m/s (11.6 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 7.00 hPapic.twitter.com/jicxvaUZh1'

In [40]:
mars_weather=latestTweet[0].text

### Mars Facts


* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [61]:
url = 'https://space-facts.com/mars'

In [62]:
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [119]:
df=tables[1]

In [120]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [124]:
df=df.rename(columns={0: "description",1: "value"})

In [125]:
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [126]:
MarsDF=df[['description','value']]
MarsDF

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [127]:
MarsDF=MarsDF.set_index('description')

In [128]:
MarsDF

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [129]:
MarsDF.to_html('table.html')

### Mars Hemispheres


* Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.

* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [131]:
urlDomain2 = 'https://astrogeology.usgs.gov'
urlPath2 = '/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
urlFull2 = urlDomain2 + urlPath2
browser.visit(urlFull2)

In [159]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
soup.find_all('a')

[<a href="https://www.usgs.gov/centers/astrogeo-sc" style="float:right;margin-top:10px;">
 <img alt="USGS: Science for a Changing World" class="logo" height="60" src="/images/usgs_logo_main_2x.png"/>
 </a>,
 <a href="https://nasa.gov" style="float:right;margin-top:5px;margin-right:20px;">
 <img alt="NASA" class="logo" height="65" src="/images/logos/nasa-logo-web-med.png"/>
 </a>,
 <a href="https://pds-imaging.jpl.nasa.gov/" style="float:right;margin-top:5px;margin-right: 10px;">
 <img alt="PDS Cartography and Imaging Science Node" class="logo" height="65" src="/images/pds_logo-invisible-web.png"/>
 </a>,
 <a href="/search" style="float:right;text-decoration:none;">
 <img alt="Astropedia" src="/images/astropedia/astropedia-logo-main.png" style="width:200px;border:none;float:right;"/>
 <div style="clear:both;font-size:.8em;float:right;color:#888;">Lunar and Planetary Cartographic Catalog</div>
 </a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a>,
 <a class="icon" href="http://isis.astrogeology.usgs.gov" title="Integrated Software for Imagers and Spectrometers">
 <img alt="ISIS Logo" height="112" src="/images/logos/isis_2x.jpg" width="112"/>
 <span class="label">ISIS</span>
 </a>,
 <a class="icon" href="http://planetarynames.wr.usgs.gov" title="Gazetteer of Planetary Nomenclature">
 <img alt="Nomenclature Logo" height="112" src="/images/logos/nomenclature_2x.jpg" width="112"/>
 <span class="label">Planetary Nomenclature</span>
 </a>,
 <a class="icon" href="https://astrogeology.usgs.gov/tools/map-a-planet-2" title="Map a Planet 2">
 <img alt="Map-a-Planet Logo" height="112" src="/images/logos/map_a_planet_2x.jpg" width="112"/>
 <span class="label">Map a Planet 2</span>
 </a>,
 <a class="icon" href="https://www.usgs.gov/centers/astrogeo-sc/science/cartography-and-imaging-sciences-node-nasa-planetary-data-system" title="PDS Cartography and Imaging Science Node">
 <img alt="PDS Logo" height="112" src="/images/pds_logo-black-web.png"/>
 <span class="label">PDS Cartography and Imaging Science Node</span>
 </a>,
 <a class="icon" href="https://www.usgs.gov/centers/astrogeo-sc/science/regional-planetary-image-facility-rpif" title="Regional Planetary Image Facility">
 <img alt="RPIF Logo" height="112" src="/images/logos/rpif_2x.jpg" width="112"/>
 <span class="label">RPIF</span>
 </a>,
 <a class="icon" href="https://www.usgs.gov/centers/astrogeo-sc/science/usgsnasa-planetary-photogrammetry-guest-facility" title="Photogrammetry Guest Facility">
 <img alt="Photogrammetry Guest Faciltiy Logo" height="112" src="/images/logos/photogrammetry_2x.jpg" width="112"/>
 <span class="label">Photogrammetry Guest Facility</span>
 </a>,
 <a class="icon" href="http://pilot.wr.usgs.gov" title="Planetary Image Locator Tool">
 <img alt="Pilot Logo" height="112" src="/images/logos/pilot_2x.jpg" width="112"/>
 <span class="label">PILOT</span>
 </a>,
 <a class="icon" href="https://www.usgs.gov/centers/astrogeo-sc/science/mrctr-gis-lab" title="Mapping, Remote-sensing, Cartography, Technology and Research GIS Lab">
 <img alt="MRCTR GIS Lab Logo" height="112" src="/images/logos/mrctr_man_2x.png" width="112"/>
 <span class="label">MRCTR GIS Lab</span>
 </a>,
 <a href="http://astrogeology.usgs.gov/search">Search</a>,
 <a href="http://astrogeology.usgs.gov/maps/about">About</a>,
 <a href="http://astrogeology.usgs.gov/maps/contact">Contact</a>,
 <a href="https://www.usgs.gov/centers/astrogeo-sc">USGS Astrogeology Science Center</a>]

In [ ]:
<div id="product-section" data-section="product" class="result-list">
		<div class="accordian">
			<h2>Products</h2>
			<span class="count">4 Results</span>
			<span class="collapse">Collapse</span>
		</div>
		<div class="collapsible results" style="display: block;">
<div class="item"><a href="/search/map/Mars/Viking/cerberus_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png" alt="Cerberus Hemisphere Enhanced thumbnail"></a><div class="description"><a href="/search/map/Mars/Viking/cerberus_enhanced" class="itemLink product-item"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div><div class="item"><a href="/search/map/Mars/Viking/schiaparelli_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png" alt="Schiaparelli Hemisphere Enhanced thumbnail"></a><div class="description"><a href="/search/map/Mars/Viking/schiaparelli_enhanced" class="itemLink product-item"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div><div class="item"><a href="/search/map/Mars/Viking/syrtis_major_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png" alt="Syrtis Major Hemisphere Enhanced thumbnail"></a><div class="description"><a href="/search/map/Mars/Viking/syrtis_major_enhanced" class="itemLink product-item"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div><div class="item"><a href="/search/map/Mars/Viking/valles_marineris_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png" alt="Valles Marineris Hemisphere Enhanced thumbnail"></a><div class="description"><a href="/search/map/Mars/Viking/valles_marineris_enhanced" class="itemLink product-item"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script>addBases=[];;if(typeof resetLayerSwitcher==="function"){resetLayerSwitcher(false)};var productTotal = 4;</script>
</div> <!-- end this-section -->



	</div>

In [ ]:
for x in range(1, 6):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    quotes = soup.find_all('span', class_='text')

    for quote in quotes:
        print('page:', x, '-------------')
        print(quote.text)

    browser.click_link_by_partial_text('Next')