# Mission to Mars Web Scraping

by Mary Brown

In [60]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

### NASA Mars News

In [20]:
page = requests.get("https://mars.nasa.gov/news/")

In [21]:
soup = BeautifulSoup(page.content, 'html.parser')

In [22]:
news_title=soup.find_all('div',class_='content_title')[0].text
news_title = news_title.replace('\n','')
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [23]:
news_p=soup.find_all('div',class_='rollover_description_inner')[0].text
news_p = news_p.replace('\n','')
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

### JPL Mars Space Images - Featured Image

In [24]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [25]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [26]:
urlDomain = 'https://www.jpl.nasa.gov'
urlPath = '/spaceimages/?search=&category=Mars'
urlFull = urlDomain + urlPath
browser.visit(urlFull)

In [27]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
browser.click_link_by_partial_text('FULL IMAGE')
fullImage=soup.find_all(id="full_image")
fullImage

[<a class="button fancybox" data-description="This image of NASAs Hubble Space Telescope shows Astronaut Jeffrey Hoffman removing the Wide Field and Planetary Camera 1 (WFPC 1) during the first Hubble servicing mission (SM1), which took place in December, 1993." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA22574_ip.jpg" data-link="/spaceimages/details.php?id=PIA22574" data-title="Making Room for Hubble's New Camera" id="full_image">
 					FULL IMAGE
 				  </a>]

In [33]:
imagePath=fullImage[0]['data-fancybox-href']

In [34]:
featured_image_url= urlDomain + imagePath

In [35]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA22574_ip.jpg'

### Mars Weather


* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.

In [36]:
tpage = requests.get("https://twitter.com/marswxreport?lang=en")
tsoup = BeautifulSoup(tpage.content, 'html.parser')

In [39]:
latestTweet=tsoup.find_all('p',class_='TweetTextSize')
latestTweet[0].text

'InSight sol 331 (2019-11-01) low -100.9ºC (-149.6ºF) high -24.6ºC (-12.3ºF)\nwinds from the SSE at 5.2 m/s (11.6 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 7.00 hPapic.twitter.com/jicxvaUZh1'

In [40]:
mars_weather=latestTweet[0].text

### Mars Facts


* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [61]:
url = 'https://space-facts.com/mars'

In [62]:
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [119]:
df=tables[1]

In [120]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [124]:
df=df.rename(columns={0: "description",1: "value"})

In [125]:
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [126]:
MarsDF=df[['description','value']]
MarsDF

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [127]:
MarsDF=MarsDF.set_index('description')

In [128]:
MarsDF

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [129]:
MarsDF.to_html('table.html')